@model WebApplication_MVC.Models.Product
@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>
@using (Html.BeginForm())
{
    <div calss="form-group">
        @Html.DisplayNameFor(x => x.BrandName)
        @Html.TextBoxFor(x => x.BrandName, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.BrandName)

    </div>
    <br />
    <div calss="form-group">
        @Html.DisplayNameFor(x => x.ModelNo)
        @Html.TextBoxFor(x => x.ModelNo, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ModelNo)

    </div>
    <br />
    <div calss="form-group">
        @Html.DisplayNameFor(x => x.Description)
        @Html.TextBoxFor(x => x.Description, null, new { @class = "form-control" })
        @Html.ValidationMessageFor(x => x.ModelNo)

    </div>
    <br />
    <div>
        <input type="submit",value="Save" class="btn-primary" />
    </div>

}
